* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; */
  overflow-x: hidden;
  color: #555;
  font-family: 'lato', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

section {
  padding: 80px 0px;
}

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  letter-spacing: 1px;
  margin: 0 0 20px;
  color: #fff;
  font-size: 250%;
  word-spacing: 4px;
}

h2 {
  letter-spacing: 1px;
  font-size: 180%;
  word-spacing: 02px;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/* content just afer h2 */
h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: ' ';
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}
.intro h5 {
  font-size: 10px;
  text-align: justify;
  width: 25%;
  font-weight: 100;
}

/* ================= */
/*  HEADER SECTION */
/* ================= */

header {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(./resources/OmnifoodContents/hero.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* BUTTONS  */
.btn:link,
.btn:visited,
input[type='submit'] {
  border-radius: 200px;
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  color: white;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type='submit'] {
  background-color: #e67e22;
  border: 1px #e67e22 solid;
  color: white;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active,
input[type='submit']:hover,
input[type='submit']:active {
  background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active,
input[type='submit'] {
  border: 1px #cf6d17 solid;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #cf6d17;
  color: #fff;
}
/* BUTTONS END  */

/* LOGO */
.row {
  width: 95%;
  /* display: inline-block; */
  margin: auto;
}
.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
  border-radius: 50%;
}
.logo-black {
  display: none;
  height: 50px;
  width: auto;
  float: left;
  margin: 5px 0px;
  border-radius: 50%;
}

/* LOGO END  */

/* NAVIGATION BAR */
.main-nav {
  float: right;
  list-style: none;
  margin-top: 50px;
  /* margin-right: 200px; */
}
.main-nav {
  margin-top: 18px;
}

.sticky-nav {
  /* color: black; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(243, 243, 243, 0.98);
}

.sticky-nav .main-nav li a:link,
.sticky-nav .main-nav li a:visited {
  color: #555;
  padding: 16px 0px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}
.main-nav:link,
.main-nav:visited,
.main-nav li a:link,
.main-nav li a:visited {
  color: white;
  text-decoration: none;
  font-size: 90%;
  padding: 8px 0px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}
/* NAVIGATION BAR END  */

/* ================= */
/*  HEADER SECTION END  */
/* ================= */

/* 
==================
SECTION -1 , FEATURES  
==================
*/

/* ICONS */
.icons {
  /* font-size: 100%; */
  /* color: #e67e22; */
  height: 80px;
  display: block;
  margin: 5%;
}
/* ICONS END   */

/* LONG COPYRIGHT  */
.long-copy {
  line-height: 145%;
  margin: 0 20% 0;
}

.section-features .long-copy {
  margin-bottom: 30px;
}
/* LONG COPYRIGHT END */

/* INFO DESCRIPTION  */
.info-box {
  padding: 1%;
}

.info-box p {
  font-size: 90%;
  line-height: 145%;
}
/* INFO DESCRIPTION END  */

/* 
==================
SECTION -1 , FEATURES END 
==================
*/

/* 
==================
SECTION -2 , MEALS SHOWCASE 
==================
*/
.section-meals {
  padding: 0;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 1s;
}

.meal-photo img:hover {
  opacity: 1;
  transform: scale(1.03);
}

/* 
==================
SECTION -2 , MEALS SHOWCASE END
==================
*/

/* 
==================
SECTION -3 , HOW IT WORKS
==================
*/
.section-steps {
  background-color: rgb(243, 239, 239);
}

.steps-box {
  margin-top: 30px;
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
}
.steps-box:last-child {
  text-align: left;
  padding-left: 3%;
  margin-top: 70px;
}

.app-screen {
  width: 40%;
}

.works-step {
  margin-bottom: 50px;
}
.clearfix {
  zoom: 1;
}
/* to clear the floats , is used in the ul of the meal showcase part   */
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.works-step div {
  color: #e67e22;
  border: 2px solid #e67e22;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

.works-step:last-of-type {
  margin-bottom: 80px;
  background-color: red;
}

.section-steps a {
  /* width: auto; */
  margin-top: 2%;
  margin-right: 2%;
}

.download-links {
  text-align: center;
}
/* 
==================
SECTION -3 , HOW IT WORKS END 
==================
*/

/* 
==================
SECTION -4 , SERVICE CITIES  
==================
*/

.cities-icon,
.signup-icons,
.social-icons,
.download-icon img {
  height: 16px;
  width: 16px;

  /* display: inline-block;
  text-align: center;
  color: #e67e22;
  font-size: 120%;
  line-height: 120%; */
}

.info-box .city-images {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

a:visited,
a:link {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid #e67e22;
  padding-bottom: 1px;
  transition: border-bottom 0.5s, color 0.5s;
}

a:hover,
a:active {
  color: #555;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  padding-bottom: 1px;
}
/* 
==================
SECTION -4 , SERVICE CITIES END   
==================
*/

/* 
==================
SECTION -5 , CUSTOMER TESTIMONIALS    
==================
*/

.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('../resources/OmnifoodContents/back-customers.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
}
/* note : to use absolute positioning , one must declare the parent element as relative positoning. like here , blockquote and blockquote:before . remember pr1  */
blockquote:before {
  content: '\201C ';
  /*\201C is special character for " symbol */
  font-size: 400%;
  display: block;
  position: absolute;
  top: -1px;
  left: 0;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

cite img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/* 
==================
SECTION -5 ,CUSTOMER TESTIMONIALS END   
==================
*/

/* 
==================
SECTION -6 ,PLANS AND LOGINS 
==================
*/

.section-plans {
  background-color: rgb(243, 239, 239);
}

.plan-box {
  background-color: white;
  border-radius: 5px;
  width: 90%;
  /* absolute position to col(parent ) */
  margin-left: 5%;
  /* box shadow : x-axis ,y-axis ,blur ,color  */
  box-shadow: 1px 1px 10px #b8b6b6;
}

.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}

.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 100;
  color: #e67e22;
}

.plan-price span {
  /*  font size is  percent amount  of the parent i.e plan-price  */
  font-size: 30%;
  font-weight: 300;
}

.plan-price-meal {
  font-size: 80%;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  padding: 5px 0;
}

.plan-box div:last-child {
  text-align: center;
  border: 0;
}

.plan-box div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 5px;
}
/* 
==================
SECTION -6 ,PLANS AND LOGINS END    
==================
*/

/* 
==================
SECTION -7 ,LOGIN FORM  
==================
*/
.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type='text'],
input[type='email'],
select,
textarea {
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

input[type='checkbox'] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}

/* 
==================
  SECTION -7 ,LOGIN FORM END 
==================
*/

/* 
==================
SECTION -8 ,FOOTER    
==================
*/
footer {
  background-color: #333;
  padding: 50px;
  font-size: 80%;
}

footer p {
  color: #888;
  text-align: center;
  font-size: 90%;
  margin-top: 20px;
}

.footer-nav {
  list-style: none;
  float: right;
}

.social-links {
  float: left;
}

.footer-nav li,
.social-links {
  display: inline-block;
  margin-right: 20px;
  /* text-decoration: none; */
}

.footer-nav:last-child,
.social-links:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links:link,
.social-links:visited {
  text-decoration: none;
  border: 0;
  color: #888;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

/* 
==================
SECTION -8 ,FOOTER END   
==================
*/
